.body {
    width: 380px;
    height: 380px;
    position: absolute;
    overflow-x: visible !important;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateZ(0);
}
.front {
    transform: translateZ(190px);
}
.right {
    transform: rotateY(-270deg) translateX(190px);
    transform-origin: 100% 0;
}
.back {
    transform: translateZ(-190px) rotateY(180deg);
}
.left {
    transform: rotateY(270deg) translateX(-190px);
    transform-origin: 0 50%;
}
