.intro {
  background-color: white;
  display: flex;
  padding-top: 5px;
}
.left, .right{
  flex: 0 1 50%;
}
.left {
  overflow: hidden;
}
.imgContainer {
  position: relative;
  width: 103%;
  height: 120%;
  background-color: crimson;
  border-radius: 50%;
  float: right; //повернули круг, чтобы ровная сторона фона была слева
  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0 ;
  }
}
.right {
  position: relative;

  a {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translate(calc(-50% - 50px) , 0);
    animation: arrowMove 1s infinite;
    animation-direction: alternate;

    img{
      width: 40px;
    }

    @keyframes arrowMove {
      100% {
        bottom: 15px;
      }
    }
  }
}
.wrapper {
  width: 100%;
  height: 100%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1{
    font-size: 4.9rem;
    margin: 10px 0;
  }
  h2{
    font-size: 3.2rem;
  }
  h3{
    font-size: 2.9rem;

    span {
      font-size: inherit;
      color: crimson;
    }
  }
}

