.ityped-cursor {
  font-size: 2.9rem;
  opacity: 1;
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  animation: blink 1s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  50%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  50%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  50%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}